@import "https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Inter:wght@600&display=swap";
.heading-div {
  background-color: #8a0f0f;
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: "Cinzel", serif;
    font-size: 50px;

    a {
      text-decoration: none;
      cursor: pointer;
      color: bisque;
    }
    a:hover {
      color: white;
    }
  }
}
.nav-div {
  ul {
    display: flex;
    justify-content: center;
    padding: 0%;
  }
  li {
    list-style: none;
    text-decoration: none;
    margin: 1%;
    button {
      font-size: 25px;
      background-color: transparent;
      border: 0px;
      color: brown;
      cursor: pointer;
    }
    button:hover {
      color: black;
    }
    a {
      list-style: none;
      text-decoration: none;
      font-size: 25px;
      color: brown;
    }
    a:hover {
      color: black;
    }
  }
}
@media (min-width: 481px) and (max-width: 1180px) {
  .heading-div {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  .nav-div {
    li {
      margin: 2%;
      button {
        font-size: 20px;
      }
      button:hover {
        color: black;
      }
      a {
        list-style: none;
        text-decoration: none;
        font-size: 20px;
        color: brown;
      }
      a:hover {
        color: black;
      }
    }
  }
}
@media (max-width: 480px) {
  .heading-div {
    height: 8vh;
    width: 100vw;
    overflow-x: hidden;
    h1 {
      font-family: "Cinzel", serif;
      font-size: 30px;
    }
  }
  .nav-div {
    li {
      margin: 0;
      button {
        font-size: 12px;
      }
      button:hover {
        color: black;
      }
      a {
        list-style: none;
        text-decoration: none;
        font-size: 12px;
        color: brown;
      }
      a:hover {
        color: black;
      }
    }
  }
}
